<template>
<div class="ui inverted menu">
  <div class="header item">Quora Overflow</div>
  <a class="item" href="/index.html">Home</a>
  <div class="right menu">
    <div class="item">
      <form method="get" id="search-form" action="/index.html">
      <div class="ui action left icon input">

          <i class="search icon"></i>
          <input id="term-input" name="q" type="text" placeholder="Search">
          <button id="search-button" type="submit" class="ui button">Go</button>

      </div>
      </form>
    </div>
    <a class="item" href="#" id="logout"></a>
  </div>
</div>
</template>
